{% extends 'base.html' %}

{% block content %}
  <h2>Добро пожаловать! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
   Если у вас есть учетная запись, вы можете <a href="{% url 'login' %}">войти</a>. Если нет, то вы можете создать
    <a href="{% url 'student_signup' %}">аккаунт студента</a> или<a href="{% url 'teacher_signup' %}"> аккаунт преподавателя</a>.
  </p>
  <hr>
  <h3>Что это за проект</h3>
  <p>
    В этом приложении пользователи могут зарегистрироваться в качестве ученика или преподавателя. Преподаватели могут создавать викторины, а учащиеся могут отвечать на них.
  </p>
{% endblock %}
